<form method="post" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Categoria de Custos</label>
        <select class="form-control" value="{{ bill.category_cost_id }}" name="category_cost_id">
        {% for category in categories %}
            <option value="{{ category.id }}" 
            {{ bill.category_cost_id is not null and bill.category_cost_id == category.id?'selected="selected"':'' }}>{{ category.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Data de Lançamento</label>
        <input class="form-control" type="text" placeholder="DD/MM/YYYY" name="date_launch" value="{{ bill.date_launch | date('d/m/y') }}">
    </div>
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" placeholder="Nome" name="name" value="{{ bill.name }}">
    </div>
    <div class="form-group">
        <label class="control-label">Valor</label>
        <input class="form-control" type="text" placeholder="0.000,00" name="value" value="{{ bill.value | number_format(2,',','.') }}">
    </div>

    <button type="submit" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
    </button>
</form>