{% extends 'layout.html.twig' %} {% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Nova Conta a Pagar
            </h3>
        </div>
        <div class="panel-body">
            {% set action = route('bill-pays.store') %} {% set submitIcon = 'floppy-disk' %} {% include 'bill-pays/_form.html.twig' %}

        </div>
    </div>
</div>

{% endblock %}