{% extends 'layout.html.twig' %} {% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Administração de Contas a Pagar
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ route('bill-pays.create') }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data Lanç.</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in bills %}
                            <tr>
                                <td>{{ bill.id }}</td>
                                <td>{{ bill.date_launch | date('d/m/y') }}</td>
                                <td>{{ bill.name }}</td>
                                <td>R$ {{ bill.value | number_format(2,',','.') }}</td>
                                <td> {{ bill.categoryCost.name }}</td>
                                <td>
                                    <a href="{{ route('bill-pays.edit', {'id': bill.id}) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    |
                                    <a href="{{ route('bill-pays.show', {'id': bill.id}) }}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}