{% extends 'layout.html.twig' %} {% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Ver Conta a Pagar
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ route('bill-pays.edit', {'id': bill.id}) }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ route('bill-pays.delete', {'id': bill.id}) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
            <br/>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ bill.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Categoria de Custo</th>
                        <td>{{ bill.categoryCost.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Data Lanç</th>
                        <td>{{ bill.date_launch | date('d/m/y') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nome</th>
                        <td>{{ bill.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Valor</th>
                        <td>{{ bill.value | number_format(2,',','.') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}