{% extends 'layout.html.twig' %} {% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Nova Categorias de Custo
            </h3>
        </div>
        <div class="panel-body">
                {% set action = route('category-costs.store') %}
                {% set submitIcon = 'floppy-disk' %}
            {% include 'category-costs/_form.html.twig' %}

        </div>
    </div>
</div>

{% endblock %}