<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Finanças</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    {% if Auth.check() %}
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    Finanças
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ route('category-costs.index') }}">Categoria de Custos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toogle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Contas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ route('bill-pays.index') }}">Contas a pagar</a></li>
                            <li><a href="{{ route('bill-receives.index') }}">Contas a receber</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ route('statements') }}">Extrato</a></li>
                    <li><a href="{{ route('charts') }}">Gráfico de Gastos</a></li>
                    <li><a href="{{ route('users.index') }}">Usuários</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a>Olá {{ Auth.user().fullname }}</a></li>
                    <li><a href="{{ route('auth.logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %} {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>

</html>