<form method="POST" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" placeholder="Nome" name="first_name" value="{{ user.first_name }}">
    </div>
    <div class="form-group">
        <label class="control-label">Sobrenome</label>
        <input class="form-control" type="text" placeholder="Sobrenome" name="last_name" value="{{ user.last_name }}">
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="text" placeholder="Email" name="email" value="{{ user.email }}">
    </div>
    {% if user.id is null %}
    <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" placeholder="Senha" name="password">
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
    </button>
</form>